<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
	<div class="some-class-1">
		<b>привет!</b>
		<b class="some-class-1 some-class-2">loftschool</b>
	</div>
</body>
</html>
